.text-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 30px;
}

.text-2 {
  font-weight: 500;
  text-decoration: line-through;
}

.text-3 {
  text-align: center;
  text-transform: uppercase;
}

.text-4 {
  color: blueviolet;
  word-spacing: 30px;
  text-shadow: 1px 1px 2px #6d4f4f;
  text-decoration-line: overline;
  text-decoration-style: wavy;
}

.text-5 {
  letter-spacing: 5px;
  text-decoration-line: underline;
  text-decoration-style:double;
}