.block__parent {
    background: #dddbdb;
    height: 500px;
    border-radius: 30px 0 0 30px;
    overflow: auto;
    border: 2px solid #000;
    padding: 2px 400px 2px 1px;
}
.block__child {
    display: inline-block;
    background: #d6cab8;
    border-radius: 30px;
    box-shadow: -1px -1px 10px 2px rgba(0, 0, 0, 0.31) inset;
    width: 200px;
    height: 170px;
    padding: 10px 20px;
    margin: 5px;
}