@font-face {
  font-family: Montserrat;
  src: local("MontserratLight"), local("Montserrat Light"), 
  url("../../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("MontserratRegular"), local("Montserrat Regular"),
  url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("MontserratMedium"), local("Montserrat Medium"),
  url("../../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: local("MontserratSemiBold"), local("Montserrat SemiBold"),
  url("../../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}