/* ========================GLOBAL======================= */
/* ========================GLOBAL======================= */
html, body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  background: #181e34;
  line-height: 150%;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
}

.main__hero {
  margin-bottom: 120px;
}

.main_cards {
  margin-bottom: 120px;
}

/* ========================HEAGER======================= */
/* ========================HEAGER======================= */

.header {
  padding: 30px 0 36px;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: auto;
}

.header__list {
  display: flex;
  font-weight: 400;
  line-height: 150%;
}

.header__item {
  margin-right: 30px;
}

.header__item:last-child {
  margin-right: 34px;
}

.header__btn {
  font-weight: 500;
  background: #fff;
  color: #2766ae;
  border-radius: 100px;
  padding: 14px 30px;
  transition: .3s;
}

.header__btn:hover {
  transform: scale(1.05);
}

/* ========================SECTION-1======================= */
/* ========================SECTION-1======================= */

.hero {
  background: url("../img/BG.jpg") 10% 50% / cover no-repeat;
}

.hero__inner {
  padding: 120px 0;
}

.hero__title {
  margin-bottom: 60px;
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__text {
  max-width: 436px;
}

.hero__text span {
  font-weight: 700;
  text-transform: uppercase;
  color: #01a2cb;
}


.paragraph {
  margin-bottom: 15px;
}

.hero__btn-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.hero__btn-one,
.hero__btn-two {
  margin-bottom: 10px;
}

.hero__btn-two {
  background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
}

.icon-btn {
  margin-left: 4px;
}

/* ========================SECTION-2======================= */
/* ========================SECTION-2======================= */


.cards__title {
  margin-bottom: 15px;
}

.cards__text {
  text-align: center;
  max-width: 513px;
  margin: 0 auto 60px;
}

.cards__table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
  margin-bottom: -28px;
  padding-bottom: 30px;
}

.cards__table-item {
  margin-bottom: 28px;
  padding: 0 14px;
  flex: 0 0 25%;
}


.table-item-inner {
  border: 2px solid #176bae;
  border-radius: 16px;
  box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
  background: #197cb8;
  transition: .3s;
  padding: 28px 15px;
}

.table-item-inner:hover {
  background: #2e8ec9;
}


.table__title {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.table__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.cards__btn {
  display: block;
  border-radius: 100px;
  padding: 18px 30px;
  max-width: 436px;
  background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
  text-align: center;
  margin: 0 auto;
}

/* ========================FOOTER======================= */
/* ========================FOOTER======================= */

.footer {
  border-top: 1px solid #323952;
  padding: 60px 0;
}

.footer__inner {
  display: flex;
}

.footer__info {
  max-width: 267px;
  margin-right: auto;
}

.footer__info a {
  display: inline-block;
  margin-bottom: 15px;
}

.footer__column {
  max-width: 204px;
  width: 100%;
}

.footer__column-margin {
  margin-right: 28px;
}

.footer__title {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__column-item {
  margin-bottom: 10px;
}
